<router-outlet />

<!-- Spodný navigačný panel -->
<nav class="bottom-nav">
  <a routerLink="/home" routerLinkActive="active">
    <i class="material-icons">home</i>
    <span>Domov</span>
  </a>
  <a routerLink="/messages" routerLinkActive="active">
    <i class="material-icons">chat</i>
    <span>Správy</span>
  </a>
  <a routerLink="/plus" routerLinkActive="active" class="plus-button">
    <div class="plus-circle">
      <i class="material-icons">add</i>
    </div>
  </a>
  <a routerLink="/payroll" routerLinkActive="active">
    <i class="material-icons">payments</i>
    <span>Výplata</span>
  </a>
  <a routerLink="/documents" routerLinkActive="active">
    <i class="material-icons">description</i>
    <span>Dokumenty</span>
  </a>
  <a routerLink="/profile" routerLinkActive="active">
    <i class="material-icons">person</i>
    <span>Profil</span>
  </a>
</nav>
